@font-face {
    font-family: "Futura Std";
    src: url("../webfonts/FuturaStd-ExtraBold.woff2") format("woff2"),
      url("../webfonts/FuturaStd-ExtraBold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
  }
  
@font-face {
    font-family: "Futura Std";
    src: url("../webfonts/FuturaStd-Book.woff2") format("woff2"),
        url("../webfonts/FuturaStd-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixel";
    src: url("../webfonts/pixel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixel2";
    src: url("../webfonts/pixel2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixel3";
    src: url("../webfonts/pixel3.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Futura Std";
    font-weight: normal;
}

.h1,.h2, .h3, .h4, .h5 {
    font-weight: bold;
}

.component {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.view {
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}


/* TRANSITIONS */

// mytr is main transition for content view 

.mytr-enter-active, .mytr-leave-active {
    transition: transform .4s cubic-bezier(.47,1.64,.41,.8); //cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mytr-enter {
    transform: translateX(100%);
} 

.mytr-enter-to, .mytr-leave {
    transform: translateX(0%);
}

.mytr-leave-to {
    transform: translateX(-100%);
}

// step-tr is transition in and out of stepping component
.step-tr-enter-active, .step-tr-leave-active {
    transition: transform .4s cubic-bezier(.47,1.64,.41,.8); //cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.step-tr-enter {
    transform: translateY(-100%);
} 

.step-tr-enter-to, .step-tr-leave {
    transform: translateY(0%);
}

.step-tr-leave-to {
    transform: translateY(-100%);
}

/* \TRANSITIONS*/ 

/* CAROUSEL */

@import "vueperslide_perso.scss";

.carousel {
  height: 76vh;
  width: 100vw;
  margin-top: 15vh;
}

%arrow {
    position: absolute;
    background-repeat: no-repeat;
    width: 50px;
    height: 75px;
    justify-content: center;
    align-self: center;
}

.right-arrow {
    @extend %arrow;
    left: -28vw;
    background-image: url("../img/right-arrow.svg");
}

.left-arrow {
    @extend %arrow;
    left: 26vw;
    background-image: url("../img/left-arrow.svg");
}

.carousel-content {
    height: 100%;
    .title {
        height: 13%;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: yellow;
        max-width: fit-content;
    }
    .picture {
        height: 40%;
    }
    .infos {
        height: 14%;
    }
    .descr {
        height: 33%;
    }
}

.slide-picture {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.slide-description  {
    font-family: Pixel2;
    margin-left: 18px;
    margin-right: 18px;
    color : white;
    font-size: 1.4rem;
    text-align: justify;
}

/* \CAROUSEL */

/* GAMEPAD (FOOTER) */

.footer {
    position: absolute;
    height: 86px;
    width: 100%;
    top: 92vh;
    z-index: 10;
}

.A-but, .B-but {
    position: relative;
    text-align: center;
    color: white;
    float: left;
    cursor: pointer;
}

.arrow-up-ft {
    transform: rotate(90deg);
    position: absolute;
    top: -0.4vh;
}

.arrow-down-ft {
    transform: rotate(-90deg);
}

.arrow-left-ft {
    margin-top: -16px;
}

.arrow-right-ft {
    transform: rotate(180deg);
    margin-top: -16px;
}

.gpio2 {
    .arrow-up-ft {
        left: 3.6vw;
    }
}

.gpio3 {
    .arrow-up-ft {
        left: 4.8vw;
    }
}

.B-but {
    margin-right: 1vw;
}

.txt-btn {
    margin-left: -5px;
}

.g-btn {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
}

.left-side {
    font-family: pixel2;
    font-size: 1.4rem;
    height: 50px;
    margin-top: 18px; 
    margin-left: 3vw;
    float: left;
}

.right-side {
    font-family: pixel2;
    font-size: 1.3rem;
    margin-top: 28px; 
    margin-right: 3vw;
    float: right;
}

.gpio-help {
    position: absolute;
    margin-top: -4.3vh;
    margin-left: 6vw;
    color: white;
}

/* \GAMEPAD (FOOTER) */

/* BG */

.bg-gradient {
    background: rgb(34, 24, 72);
    background: linear-gradient(
      90deg,
      rgb(0, 17, 116) 0%,
      rgb(24, 4, 94) 100%
    );
  }

/* \BG */ 

.amount {
    box-sizing: content-box;
    background-color: #3fa9f5;
    border-radius: 20px;
    min-height: 300px;
}

.logo-circle {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    img {
        object-fit: contain;
        width: 100px;
        height: 100px;
      }
}

.logo-rounded {
    overflow: hidden;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    background-color: white;
    img {
        object-fit: cover;
        width: 130px;
        height: 130px;
      }
  }

/* TITLES */

.s-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 4vh;
    
    .title {
        font-family: Pixel3;
        max-width: 60vw;
        font-size: 3.5vh;
        color: white;
        margin-left: 20vw;
    }

    .subtitle {
        font-family: Pixel2;
        font-size: 2.5vh;
        color : #C97005;
    }
}


/* \TITLES */


/* HOME PAGE */

.screensaver {
    z-index: 10;
  }
  
.w-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 8vh;

    .title {
        font-family: Pixel;
        font-size: 4.5rem;
        color : #FFF222;
        text-shadow: 5px 0px #C97005;
    }

    .subtitle {
        font-family: Pixel;
        font-size: 2.2rem;
        color :#C97005;
    }
}

.w-content {
    text-align: center;
    position: relative;
    height: 53vh;
    top: 44vh;

    .w-description {
        font-family: Pixel;
        font-size: 1.8rem;
        color : #9183BE;
        margin-bottom: 3vh;
      }
      
    .start-but {
        font-family: Pixel;
        width: 36vw;
        height: 80px;
        padding-top: 23px;
        
        font-size: 1.4rem;
        color: white; 
        background-color: #4B37AF;
        box-shadow: -5px 0px #775CE4,
                    0px -5px #775CE4,
                    5px 0px #372491,
                    0px 5px #372491;
    }
      
    .cadre{
        width: fit-content; 
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        box-shadow: -5px 0px #2c2c2c,
                    0px -5px #2c2c2c,
                    5px 0px #2c2c2c,
                    0px 5px #2c2c2c;
    }
      
    .w-credit {
        font-family: Pixel;
        font-size: 1.4rem;
        color :white;
        margin-top:18%;
    }
      
    .w-credit-infos {
        font-family: Pixel;
        font-size: 1.1rem;
        color:white;
    }
}