.vueperslides {
	height: 100%;
	width: 100%;
}

.vueperslides__track-inner {
	margin-left: 32%;
	margin-right: 32%;
	height: 98%;
    margin-top: 1%;
}

$border-color : red; 
$border-weight: 3px;

.vueperslide {
	// border: {
	// 	top: solid $border-weight $border-color ;
	// 	bottom: solid $border-weight $border-color;
	// 	left: solid $border-weight $border-color; 
	// 	right: solid $border-weight $border-color;
	// }
	box-shadow: -5px 0px #775CE4,
              0px -5px #775CE4,
              5px 0px #372491,
              0px 5px #372491;
	padding: {
		top: 20px;
		bottom: 35px;
		right: 35px;
		left: 35px;
	};
	transition: all 0.30s ease;
	&:not(.vueperslide--active) {
		opacity: 0.5;
		transform: scale(0.8);
		.picture, .title {
			-webkit-filter: grayscale(100%);
		}
	}
}

.vueperslide--active {
	background-color: #512FB5;
}
